<!DOCTYPE html>
<html>
    <head>
        <title>מלך החיות</title>
        <link rel="stylesheet" href="../Static/Animals.css">
    </head>
    <body>
        <div class="allcontainer">
             <div class="header"><h1>מלך החיות</h1></div>
                        <div class="topnav">
                            <a href="../Views/Home page.html"><h3>דף הבית</h3></a>
                            <a href="../Views/AnimalList.html"><h3>לרשימת החיות</h3></a>
                        </div>
                        <table id="AnimalsTable">
                            <tr id="TableTiles">
                                <th>תמונה</th>
                                <th>שווי בנקודות</th>
                                <th>מין החיה</th>
                            </tr>
                            <tr>
                              <td><img src="../FontsAndImg/jakel.jfif" alt=""></td>
                              <td>100</td>
                              <td>תן</td>
                            </tr>
                            <tr>
                              <td><img src="../FontsAndImg/Turtle.jpg" alt=""></td>
                              <td>200</td>
                              <td>צב</td>
                            </tr>
                            <tr>
                              <td><img src="../FontsAndImg/Vulture.jpg" alt=""></td>
                              <td>1000</td>
                              <td>נשר</td>
                            </tr>
                          </table>

                <div class="Hometxt"><center><p>(: אי אפשר להכניס את כל החיות בעולם</p></center></div>
            </div> 
            <div class="footer"></div>
        </div>  
    </body>
</html>