<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/HomePage.css">
    <title>Document</title>
</head>
<body>
    <div class ="container">
        <div class ="header"><center><h1>מלך החיות</h1></center></div>
        <div class="nav"><center>
            <button class="btn">1</button>
            <button class="btn">2</button>
            </center>
        </div>
        <div calss ="left"><center><h2>התחבר למשחק</h2></center></div>
        <div class ="right"><center><h2>צור משחק</h2></center></div>     
    </div>
</body>
</html>

