<!DOCTYPE html>
<html>
    <head>
        <title>מלך החיות</title>
        <link rel="stylesheet" href="../Static/Animals.css">
    </head>
    <body>
        <div class="allcontainer">
             <div class="header"><h1>מלך החיות</h1></div>
                        <div class="topnav">
                            <a href="../Views/Home page.html"><h3>דף הבית</h3></a>
                            <a href="#about"><h3>לרשימת החיות</h3></a>
                        </div>
                            <div class="btncont">    
                                <div class="btncontainer"><center>
                                <div class="JoinGame"><center><a href="../Views/JoinGame.html"><h2>הצטרף למשחק</h2></center></a></div>
                            </div>
                    <div class="CreateGame"><center><a href="../Views/CreateGame.html"><h2>צור משחק</h2></center></a></div>
                </center></div>
                <div class="Hometxt"><center><p>.חושבים שאתם מלכי החיות? צאו לטייל, תצפתו ותדעו</p></center></div>
            </div> 
            <div class="footer"></div>
        </div>  
    </body>
</html>