<!DOCTYPE html>
<html>
    <head>
        <title>מלך החיות</title>
        <link rel="stylesheet" href="../Static/Animals.css">
        <script defer src="../Static/Animals.js"></script>
    </head>
    <body>
        <div class="allcontainer">
             <div class="header"><h1>מלך החיות</h1></div>
                        <nav class="topnav">
                            <a href="../Views/Home page.html"><h3>דף הבית</h3></a>
                            <a href="../Views/AnimalList.html"><h3>לרשימת החיות</h3></a>
                        </nav>
                            <div class="btncont">    
                                <button class="JoinGame" onclick="self.location.href='../Views/JoinGame.html'">הצטרף למשחק</button>
                                <button class="CreateGame" onclick="self.location.href='../Views/CreateGame.html'">צור משחק</button>
                            </div>
                <div class="Hometxt"><center><p>.חושבים שאתם מלכי החיות? צאו לטייל, תצפתו ותדעו</p></center></div>
            </div> 
            <div class="footer"></div>
        </div>  
    </body>
</html>