<!DOCTYPE html>
<html>
    <head>
        <title>מלך החיות</title>
        <link rel="stylesheet" href="../Static/Animals.css">
    </head>
    <body>
        <div class="allcontainer">
             <div class="header"><h1>מלך החיות</h1></div>
                        <nav class="topnav">
                            <a href="../Views/Homepage.html"><h3>דף הבית</h3></a>
                            <a href="../Views/AnimalList.html"><h3>לרשימת החיות</h3></a>
                        </nav> 
                        <center><div class="form-wrap"><center>
                            <div class="">
                                <p>הזינו את פרטי המשחק</p>
                            </div>
                                <div class="JoinExistingGame">
                                    <form class="signup-form" action="" method="post">
                                        <input type="text" class="input" id="Game_name" placeholder="שם המשחק">
                                        <input type="password" class="input" id="_pass" placeholder="סיסמא">
                                    </form><!--.login-form-->
                                </div>
                            </center>
                        </div>
                    </center>
                    <button class="btn" onclick="self.location.href='../Views/CreateGroup.html'">הצטרף למשחק</button>
        </div>  
        <div class="footer"></div>
    </body>
</html>