<!DOCTYPE html>
<html class="TeamPage">
    <head>
        <title>מלך החיות</title>
        <link rel="stylesheet" href="../Static/Animals.css">
        <script defer src="../Static/Animals.js"></script>
    </head>
    <body>
        <div class="allcontainer" id="Teamall">
             <div class="header"><h1>מלך החיות</h1></div>
                        <div class="topnav">
                            <a href="../Views/Home page.html"><h3>דף הבית</h3></a>
                            <a href="../Views/AnimalList.html"><h3>לרשימת החיות</h3></a>
                            <a href="../Views/CreateGroup.html"><h3>שנה קבוצה</h3></a>
                        </div>
                        <div class="GameContainer">
                        <div class="GameInfo">
                            <div class="GameTag"><h3>"שם המשחק"</h3></div>
                            <div class="TeamTag">
                                <div class="TeamName"><h3>:"שם הקבוצה"</h3></div>
                                <div class="TeamScore"><h3>"0000" :נקודות</h3></div>
                            </div>
                        </div>
                            <div class="PlayArea">
                                <div class="txtbox"><input type="text" class="input" id="AnimalInput" placeholder="?איזו חיה זיהית"></div>
                                <button class="btn" id="AddAnimal" onclick="self.location.href='../Views/TeamPage.html'">הוסף זיהוי</button>
                            </div>
                            <div class="DynamicContainer">
                                <div class="AnimalImg" id="Jakel"><img src="../FontsAndImg/jakel.jfif" alt=""></div>
                                <div class="WonPoints"><h3>כל הכבוד ריאת "תן"! 100</h3></div>
                                <button class="btn" id="NewSighting" onclick="self.location.href='../Views/TeamPage.html'">תצפית חדשה</button>
                            </div> 
                        </div>
                       </div>  
        <div class="footer"></div>
    </body>
</html>