* {
    font-family: hand;
    box-sizing: border-box;
 
}
:root{
--SandYellow: #feffd6;
--DarkGreen: #0b4b2b;
--SkyBlue: #00cbff;
--LightGreen: #5ada25;
--Lightgray: #656565;
}

body{
margin: 0;
padding: 0;
font-family: Arial;
text-transform: uppercase;
font-weight: bold;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;



}
.header{
background-color: #0b4b2b;
color: white;
height: 10vh;
min-height: 35px;
text-align: center;
padding:var(--DarkGreen) ;
padding-top: 1px;


}
.allcontainer{
background-image:
 linear-gradient(SkyBlue,SkyBlue, #feffd6,  #feffd6);
height: 90vh;
display: flex;
flex-direction: column;
}
.topnav {

overflow: hidden;
background-color: var(--DarkGreen);
line-height: 20px;
}

.topnav a {
float: right;
display: block;
width:33.3333%;
min-width: 60px;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 16px;
color:#fff;
}

.topnav a:hover {
background-color: var(--Lightgray);
color: black;
}


.JoinGame {
min-width: 100px;
grid-area: left;
border-radius: 20px;
outline: none;
width: 15vw;
padding: 10px 16px; 
margin-right: 50%;
margin-top: 10%;
color:#fff;
background-color: var(--DarkGreen);
cursor: pointer;
}

.CreateGame {
min-width: 100px;
grid-area: right;
border-radius: 20px;
outline: none;
width: 15vw;
padding: 10px 16px;
margin-left: 60%;
margin-top: 10%;
color: white;
background-color: var(--DarkGreen);
cursor: pointer;
}
.btncont{
display: grid;
grid-template-areas: 
'right left'
;
}
.active, .CreateGame:hover {
background-color: #666;
color: white;
}
.active, .JoinGame:hover {
background-color: #666;
color: white;
}

.Hometxt{
background-color: var(--SandYellow);
height: 10vh;
min-height: 1px;
text-align: center;
margin-top: auto;

}
.footer{
background-color: #0b4b2b;
height: 10vh;
min-height: 25px;
padding:var(--DarkGreen) ;
margin-top: auto;
}
@font-face {
    font-family: hand;
    src: url(../FontsAndImg/trashim/trashim/trashimclm-bold-webfont.ttf);
    }

/*Create New Game*/

.form-wrap {
    background:transparent;
    width: 40vw;
  }

  .signup-form{
    margin: 2vh;
    display: grid;
    grid-template-areas: 
    'username'
    'passward'
    'time'
    'create'
    'goodluck'
    ;
  }
  .input {
    padding: 10px 16px;
    margin: 1vh;
  }
  .input .user_name{
    grid-area:username ;
  }
  .intup .user_pass{
    grid-area: passward;
  }
  .inout .End_Time{
    grid-area: time;
  }
  .Create_Game_btn{
    padding: 10px 16px;
    margin: 1vh;
  }

















