* {
    font-family: hand;
    box-sizing: border-box;
 
}
:root{
--SandYellow: #feffd6;
--DarkGreen: #0b4b2b;
--SkyBlue: #00cbff;
--LightGreen: #5ada25;
--Lightgray: #656565;
}

body{
margin: 0;
padding: 0;
font-family: Arial;
text-transform: uppercase;
font-weight: bold;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
}
.header{
background-color: #0b4b2b;
color: white;
height: 10vh;
min-height: 60px;
text-align: center;
padding:var(--DarkGreen) ;
padding-top: 1px;


}
.allcontainer{
background-image:
 linear-gradient(SkyBlue,SkyBlue, #feffd6,  #feffd6);
height: 90vh;
display: flex;
flex-direction: column;
}
.topnav {

overflow: hidden;
background-color: var(--DarkGreen);
line-height: 20px;
}

.topnav a {
float: right;
display: block;
width:33.3333%;
min-width: 60px;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 16px;
color:#fff;
}

.topnav a:hover {
background-color: var(--Lightgray);
color: black;
}

.JoinGame {
min-width: 100px;
grid-area: right;
border-radius: 20px;
outline: none;
width: 15vw;
height: 15vw;
max-height: 70px;
padding: 10px 16px; 
margin-right: 55%;
margin-left: 10%;
margin-top: 10%;
color:#fff;
background-color: var(--DarkGreen);
cursor: pointer;
margin-left: 10%;
align-self: center;
}

.CreateGame {
min-width: 100px;
grid-area: left;
border-radius: 20px;
outline: none;
width: 15vw;
height: 15vw;
max-height: 70px;
padding: 10px 16px;
margin-left: 55%;
margin-right: 10%;
margin-top: 10%;
color: white;
background-color: var(--DarkGreen);
cursor: pointer;
align-self: center;
}

@keyframes pop{
  100%  {transform: scale(1.2);}
}
.btncont{
display: grid;
grid-template-areas: 
'left right'
;
}
.CreateGame:hover {
background-color: #666;
color: white;
animation: pop 0.2s;
animation-fill-mode: forwards;
}
.JoinGame:hover {
background-color: #666;
color: white;
animation: pop 0.2s;
animation-fill-mode: forwards;
}

.Hometxt{
background-color: var(--SandYellow);
height: 10vh;
min-height: 1px;
text-align: center;
margin-top: auto;

}
.footer{
background-color: #0b4b2b;
height: 10vh;
min-height: 25px;
padding:var(--DarkGreen) ;
margin-top: auto;
}
@font-face {
    font-family: hand;
    src: url(/trashim/trashim/trashimclm-bold-webfont.ttf);
    }


@media only screen and (max-width: 550px) {
  .btncont{
    display: grid;
    grid-template-areas: 
    'left'
    'right'
    ;
    }
    .JoinGame{
      margin-right: 0;
      margin-left: 42vw;
      align-self: center;
    }
    .CreateGame{
      margin-left: 42vw;
      margin-right: 0;
      align-self: center;
    }
}

/*Create New Game*/

.form-wrap {
    background:transparent;
    width: 40vw;
  }

  .signup-form{
    margin: 2vh;
    display: grid;
    grid-template-areas: 
    'username'
    'passward'
    'time'
    'create'
    'goodluck'
    ;
  }
  .input {
    padding: 10px 16px;
    margin: 1vh;
  }
  .input .user_name{
    grid-area:username ;
  }
  .intup .user_pass{
    grid-area: passward;
  }
  .inout .End_Time{
    grid-area: time;
  }
  .btn{
    max-width: 100px;
    padding: 10px 16px;
    margin: 1vh;
    background-color: #5ada25;
    width: 20vw;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
  }
 
  .guide{
    margin: -2vh;
  }
.active, .btn:hover{
  background-color: #666;
  color: white;
  animation: pop 0.2s;
  animation-fill-mode: forwards;
}
/*GroupPage*/
.GameContainer{
  max-width: 100%;
  display: grid;
  grid-template-areas:
  'dyn dyn info'
  'dyn dyn input'
  'dyn dyn enter'
  ;
}
.GameInfo {
  grid-area: info;
}
.PlayArea{
  grid-area: input;
 
}
.AddAnimal{
  padding-top: 20vh;
  margin-top: 20vh;
  grid-area: enter;
  margin-left: 20vw;
}
.DynamicContainer{
  margin-left: 10vw;
  grid-area: dyn;
  grid-template-areas: 
  'img img'
  'img img'
  'add points'
  ;
}
.AnimalImg {
  padding: 15px 15px;
  grid-area: img;
}
img {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
}
.AddSighting {
 
  grid-area: add;
}
.WonPoints {
  grid-area: points;
}
@media only screen and (max-width: 550px){
  .topnav {
    overflow:visible;
    }
    html.TeamPage body{
      min-height: 120vh;
      }
      html.TeamPage .allcontainer{
        height: 110vh;
        }
  .GameContainer{
    align-self: center;
    max-width: 70%;
    display: grid;
    grid-template-areas:
    'info'
    'input'
    'enter'
    'dyn'
    ;
  }
  .GameInfo {
    margin-left: 14vw;
  }

  .PlayArea{
    margin-left: 10vw;
    align-self: center;
  }
  .btn, .AddAnimal{
    margin-left: 6vw;
    margin-top: 2vh;
  }
  .DynamicContainer{
    margin-left: 10vw;
    grid-area: dyn;
    grid-template-areas: 
    'img img'
    'img img'
    'add points'
    ;
  }
  .AnimalImg {
    padding: 15px 15px;
    grid-area: img;
  }
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 5vw;
    margin-top: -2vh;
  }
  .btn, .AddSighting {
    margin-top: -0vh;
    grid-area: add;
  }
  .WonPoints {
    margin-right: 3vw;
    margin-top: -6vh;
    grid-area: points;
  }

  .active{
    background-color: rgba(255, 255, 255, 0.5);
    width: 30vw;
    height: 77px;
  }
}
/*Wining Page*/

.WiningTitle {
  align-self: center;
  padding-top: 10vh;
}


/*Animal List*/

.Tableimg{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 5vw;
  margin-top: -2vh;
}

.active{
  background-color: rgba(255, 255, 255, 0.5);
}


