:root{
    --SandYellow: #feffd6;
    --DarkGreen: #0b4b2b;
    --SkyBlue: #00cbff;
    --LightGreen: #5ada25;

}
html, body {
    height:100%;
}

*{
    font-family: hand;
   /*padding: 1vh;
    border: 1px solid black;
    margin: 1vh;*/
   
}
.container {
    background-image: linear-gradient(SkyBlue, #feffd6,  #feffd6);
    display: grid;
    grid-template-areas: 
    'header header'
    'nav nav'
    'left right'
    'footer footer'
    ;
}
.nav{
    grid-area: nav;
}
.header{
    color: white;
    background-color: #0b4b2b;
    grid-area: header;
    height: 15vh;
}
.left {
    grid-area: right;
    height: 10vh;
    border: none;
    outline: none;
    width: 50%;
    padding: 10px 16px;
    color: white;
    background-color: var(--DarkGreen);
    cursor: pointer;

}
.right{
    grid-area: right;
    height: 10vh;
    border: none;
    outline: none;
    width: 50%;
    padding: 10px 16px;
    color: white;
    background-color: var(--DarkGreen);
    cursor: pointer;
}
.footer{
    grid-area: footer;
    color: white;
    background-color: #0b4b2b;
    height: 20vh;
    margin-top: 10%;
}
.btn {
    border: none;
    outline: none;
    width: 20%;
    padding: 10px 16px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    background-color: var(--DarkGreen);
    cursor: pointer;
  }
  .active, .btn:hover {
    background-color: #666;
    color: white;
  }
  .active, .right:hover {
    background-color: #666;
    color: white;
  }
  .active, .left:hover {
    background-color: #666;
    color: white;
  }
  

@font-face {
    font-family: hand;
    src: url(../Fonts/trashim/trashim/trashimclm-bold-webfont.ttf);
}